/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e4e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letters-calculator-container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-heading {
  font-size: 24px;
  color: #219a6f;
  margin-bottom: 20px;
}

.calculator-image {
  width: 60%;
  margin-bottom: 20px;
}

.input-label {
  font-size: 18px;
  color: #219a6f;
  margin-bottom: 10px;
  display: block;
}

.input-box {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input-box:focus {
  border-color: #1d976c;
}

.letter-count-text {
  font-size: 18px;
  color: #219a6f;
  margin-top: 20px;
}
